*{
    box-sizing: border-box;
}
.navItem{
    text-decoration: none;
    color: gray;
    width: 25%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.navItem:hover{
    border-bottom: 2px solid black;
    color : black;
}

.navbar{
    position: relative;
}
