.Home-page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.course-card {
  text-decoration: none;
  width: 240px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  cursor: pointer;
  margin-right: 20px;
}
.course-list {
  width: 100%;
}
.course-image {
  width: 220px;
  height: 135px;
  object-fit: cover;
}
h3 {
  color: #1c1d1f;
  font-weight: inherit;
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 22px;
}
.course-title {
  max-width: 220px;
}
.course-author,
.rate {
  font-weight: 100;
  font-size: 0.8rem;
  flex: 1;
  color: gray;
}
.rate,
.course-card i,
.students {
  font-weight: 200;
  font-size: 0.9rem;
  color: goldenrod;
}
.course-card i {
  font-weight: 900;
}
.students {
  font-weight: 100;
  font-size: 0.8rem;
  color: gray;
}
.section {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.contain {
  width: 100%;
  border: 1px solid #6a6f73;
  padding: 20px;
  box-shadow: 10px 10px 10px 0 #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}
.header {
  margin-left: 10px;
}
.description {
  margin-top: 10px;
  line-height: 22px;
  margin-left: 10px;
  width: 60%;
}
.explore-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}
.explore-button:hover {
  transform: scale(1.05);
  z-index: 2;
  background-color: aliceblue;
}
.courses {
  margin-top: 15px;
  justify-content: flex-start;
  margin-left: 10px;
}
.carousel-contain {
  margin-top: 20px;
}

.react-multi-carousel-track {
  margin: auto !important;
}

.react-multi-carousel-item,
.react-multi-carousel-item--active,
.react-multi-carousel-track {
  position: relative !important;
}

.react-multiple-carousel__arrow {
  top: 20%;
  min-width: 50px !important;
}

.react-multiple-carousel__arrow--left {
  left: 0% !important;
}

.react-multiple-carousel__arrow--right {
  right: 0% !important;
}
.list-contents {
  margin-top: 20px;
}
.list-title {
  font-size: 27px;
}
.list-discription {
  font-size: 16px;
}
.ul-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.list-element {
  display: flex;
  cursor: pointer;
  color: #6a6f73;
  margin-left: 10px;
}
.list-element:hover {
  color: purple;
  transform: scale(1.05);
  z-index: 2;
}
.clicked {
  color: black;
  font-weight: bold;
}
.clicked:hover {
  color: black;
  transform: scale(1);
  transition: 0;
  z-index: 0;
}
.not-mergin {
  margin: 0;
}
