.back-ground {
  display: flex;
  
  margin: 10px 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: fit-content;
  align-items: center;
}
.outside-image {
  
  background: url("https://img-b.udemycdn.com/notices/featured_banner/image_udlite/9ea59bc2-bd61-463e-9ce9-7e71e8e586ae.jpg");
  display: none;
}
.inside-text-card {
  background-color: white;
  box-shadow: 1px 2px 2px 2px #ddd;
  width: 400px;
  height: fit-content;
  padding: 24px;
  margin-bottom: 8px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
}
.inside-image {
  width: 100%;
  height: 50%;
}
h1,
h3 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
}
.text-card-script {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-size: 20px;
}
.outside-text-card {
  display: none;
}
.col {
  transition: 1s;
}
.col:hover {
  transform: scale(1.1);
  z-index: 2;
}
@media screen and (max-width: 1105px) {
  .back-ground {
    display: none;
  }
  .small-back-ground {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .outside-text-card {
    display: none;
  }
  .outside-image {
    width: 100%;
    height: 321px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
  }
  .outside-text-card {
    display: block;
    padding: 10px;
    width: 100%;
    height: 40%;
    box-shadow: 2px 2px 2px 0px gray;
    flex-direction: column;
    line-height: 1.8;
    background-color: white;
  }
}

.tippy{
  z-index: -2;
  color: red;
}